.vscode/
.osc/
compile_flags.txt
.commit
.date
mount/
tmp/
*.bak
*.log*
*.race.*
*.pdf
*.fa
*.docx
*.gz
*.db
*.test
*.out
*.coverage
*.core
*.gdb
vgcore.*
__debug_bin*

# do not include binaries, but do include sources
onemount
onemount-headless
onemount-launcher
onemount-*/
!cmd/onemount-launcher
!cmd/onemount

# rpm build stuff
*.rpm

# for tests on older linuxes
util-linux*
unshare

# debian build stuff
debian/debhelper-build-stamp
debian/*.substvars
debian/*.debhelper
debian/files
*.dsc
*.deb
*.changes
*.build*
*.upload
*.tar.xz

.idea/
.cache/
.config/
__pycache__
.auth_tokens.json
!README.*.md
.output.txt
/coverage.html
/coverage/coverage.html
/coverage/coverage.json
/coverage/coverage-func.txt
/coverage/coverage-gaps.txt
/coverage/coverage_history.json
/coverage/package-analysis.txt
/coverage/summary.txt
/coverage/trends.html
onemount-test
onemount-fixed
