[Desktop Entry]
Name=OneMount
Comment=Mount your Microsoft OneDrive account as a native filesystem on Linux.
Type=Application
Exec=@BIN_PATH@/onemount-launcher
TryExec=@BIN_PATH@/onemount-launcher
Icon=@ICON_PATH@/onemount-icon.svg
Categories=Utility;
Terminal=false
DBusActivatable=false
StartupWMClass=onemount-launcher
X-GNOME-Application-ID=com.github.auriora.onemount
