[Desktop Entry]
Name=OneMount
Comment=Mount your Microsoft OneDrive account as a native filesystem on Linux.
Type=Application
Exec=/usr/bin/onemount-launcher
TryExec=/usr/bin/onemount-launcher
Icon=/usr/share/icons/onemount/onemount-icon.svg
Categories=Utility;
Terminal=false
DBusActivatable=false
StartupWMClass=onemount-launcher
X-GNOME-Application-ID=com.github.auriora.onemount
