[Desktop Entry]
Name=OneMount
Comment=Mount your Microsoft OneDrive account as a native filesystem on Linux.
Type=Application
Exec=$HOME/.local/bin/onemount-launcher
Icon=$HOME/.local/share/icons/onemount/OneMount-Logo.svg
Categories=Utility
