[Unit]
Description=onemount
After=network.target

[Service]
Type=dbus
BusName=org.onemount.FileStatus
ExecStart=/usr/bin/onemount %f
ExecStopPost=/usr/bin/fusermount3 -uz /%I
Restart=on-abnormal
RestartSec=3
RestartForceExitStatus=2
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
